

    <div class="pagetitle">
        <h1>TRANG ADMIN</h1>
        @*
        <h1>Hướng dẫn đăng ký học chuyển đổi/chéo trên hệ thống admin.</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Trang chủ</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <style>
        .container1 {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 56.25%; /* 16:9 Aspect Ratio */
        }

        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
    <section class="section dashboard">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="container" id="tabs">
                        <b>SINH VIÊN</b>
                        <br><b style=" font-style: italic;">* Đăng ký học chuyển đổi/chéo.</b>
                        <br>- Sinh viên học tập chọn mục "Đăng ký học" => "Đăng ký học chuyển đổi"
                        <br> + <span style=" font-style: italic;">Trạng thái môn học </span>: Chọn trạng thái (Học lại, học nâng điểm, tất cả học phần) để hiển thị học phần phù hợp.
                        <br> + <span style=" font-style: italic;">Đăng ký học </span>: Sau khi hiển thị môn học với trạng thái tương ứng, sinh viên chọn học phần cần đăng ký và thao tác gửi đơn đăng ký.
                        <br> + <span style=" font-style: italic;">Chọn lớp chuyển đ </span>: Sau khi đăng ký học và có đơn đăng ký, sinh viên chọn lớp muốn học và cập nhật lại đơn đăng ký phía dưới mục đăng ký.
                        <br> + <span style=" font-style: italic;">Danh sách đơn đăng ký </span>: Tất cả đơn đăng ký được gửi đi sẽ hiện thị ở mục "Danh sách đơn đăng ký" kèm trạng thái phản hồi của cố vấn học tập.
                        <br>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <h1>Video hướng dẫn đăng ký học</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="container1 embed-responsive embed-responsive-16by9">
                                    <iframe class="responsive-iframe"
                                            src="https://www.youtube.com/embed/dsjLWRIng7g?controls=1&zoom=1"
                                            frameborder="1"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
                </div>

    </section>

    <!--


    <div class="col-md-8">
          <p>
            Video hưỡng dẫn đăng ký học:
          </p>
        </div>
        <div class="col-md-4" style="align-items: center">

        <div class="video-container">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dsjLWRIng7g"></iframe>
          </div>
        </div>
    </div> -->
    *@
