@model List<View_Loaiphieu>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <style>
        .student-list {
            max-height: 700px;
            overflow-y: scroll;
        }

        .input-score {
            display: flex;
            align-items: center;
        }

            .input-score input {
                margin-right: 10px;
            }

        .tab-bar {
            height: 100%;
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
        }

        .previous {
            color: black;
        }

        .text-div-open {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        input.prevent-collapse {
            font-size: 16px;
        }

        .text-open {
            margin-left: 20px;
            font-size: 16px;
            font-weight: 400;
        }

        .form-test .accordion-button:not(.collapsed) {
            background: unset;
            box-shadow: unset;
        }

        .row.diem-hs p {
            margin-bottom: 0;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <main class="main" id="main"> 
    <div class="container py-5">
        <div class="row">
            <div class="col-md-3 tab-bar">
                <h3>Danh sách sinh viên</h3>
                <ul id="output"></ul>
                <ul class="list-group student-list" id="output">
                </ul>
            </div>
            <div class="col-md-9">
                <div class="h2 text-center fw-bold">Phiếu đánh giá thực tập</div>
                <div class="row g-3 py-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Họ và tên sinh viên</h6>
                                </div>
                                <div class="col-sm-9 text-secondary" id="studentName">Kenneth Valdez</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Ngày sinh</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">fip@jukmuh.al</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mã sinh viên</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">(239) 816-9029</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Lớp</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">(320) 380-4539</div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Cán bộ hướng dẫn</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Bay Area, San Francisco, CA
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Đơn vị thực tập</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Bay Area, San Francisco, CA
                                </div>
                            </div>
                            <div class="row"></div>
                        </div>
                    </div>
                </div>
                <h3>Tiêu chí đánh giá</h3>
                <form class="row g-3 wrapper bg-white rounded shadow p-4 mt-5">
                    <div class="row diem-hs">
                        <div class="col-7">
                            <p>Điểm năng lực cần đạt</p>
                        </div>
                        <div class="col-2">
                            <p>Khoảng điểm</p>
                        </div>
                        <div class="col-3">
                            <p>Trọng số/ Điểm số đánh giá</p>
                        </div>
                    </div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header d-flex justify-content-between" id="panelsStayOpen-headingOne">
                                <div class="text-div-open">
                                    <div class="text-open">
                                        <span>
                                            Hợp tác làm việc hiệu quả trong các hoạt động tại đơn vị thực tập [2.5]
                                            (20%)
                                        </span>
                                    </div>
                                    <div><input type="text" class="prevent-collapse"></div>
                                </div>
                                <div class="accordion-icon">
                                    <button class="btn btn-link accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingOne">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Tham gia hoạt động tại đơn vị, đóng góp nhiều ý kiến
                                                </td>
                                                <td>1,6-2,0</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tham gia hoạt động tại đơn vị, có đóng góp vài ý
                                                    kiến
                                                </td>
                                                <td>1,1-1,5</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tham gia hoạt động tại đơn vị, không đóng góp ý kiến
                                                </td>
                                                <td>0,6-1,0</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Tham gia ít hoạt động tại đơn vị, không đóng góp ý
                                                    kiến
                                                </td>
                                                <td class="col-2">0,0-0,5</td>
                                                <td class="col-3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header d-flex justify-content-between" id="panelsStayOpen-headingTwo">
                                <div class="text-div-open">
                                    <div class="text-open">
                                        <span>Trình bày thuyết phục các vấn đề chuyên môn tại đơn vị thực tập</span>
                                    </div>
                                    <div><input type="text" class="prevent-collapse"></div>
                                </div>
                                <div class="accordion-icon">
                                    <button class="btn btn-link accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Giải thích rõ ràng các vấn đề chuyên môn</td>
                                                <td>1,6-2,0</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Giải thích phù hợp các vấn đề chuyên môn</td>
                                                <td>1,1-1,5</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Giải thích chưa rõ các vấn đề chuyên môn</td>
                                                <td>0,6-1,0</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Giải thích sai lệch các vấn đề chuyên môn</td>
                                                <td class="col-2">0,0-0,5</td>
                                                <td class="col-3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header d-flex justify-content-between" id="panelsStayOpen-headingThree">
                                <div class="text-div-open">
                                    <div class="text-open">
                                        <span>
                                            Thể hiện trách nhiệm, tính kiên trì và quyết tâm, sẵn sàng chấp nhận thử
                                            thách và
                                            rủi ro khi tham gia dự á tại đơn vị thực tập [2,5]
                                        </span>
                                    </div>
                                    <div><input type="text" class="prevent-collapse"></div>
                                </div>
                                <div class="accordion-icon">
                                    <button class="btn btn-link accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseThree">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingThree">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Hoàn thành trên 80% nhiệm vụ được giao</td>
                                                <td>1,6-2,0</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Hoàn thành 60% - 79% nhiệm vụ được giao</td>
                                                <td>1,1-1,5</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Hoàn thành 40% - 59% nhiệm vụ được giao</td>
                                                <td>0,6-1,0</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Hoàn thành dưới 40% nhiệm vụ được giao</td>
                                                <td class="col-2">0,0-0,5</td>
                                                <td class="col-3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-between mt-4">
                    <div class="gap-5">
                        <button class="btn btn-primary" type="submit" onclick="handleClickPrev()">Trước</button>
                        <button class="btn btn-primary" type="submit" onclick="handleClickNext()">Tiếp</button>
                    </div>
                    <div class="gap-5">
                        <button class="btn btn-primary" type="submit">Tải xuống PDF</button>
                        <button class="btn btn-primary" type="submit">Xác nhận</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        let id = 0
        const listStudent = [{
            ID: 1,
            name: 'Tên sinh viên 1',

        }, {
            ID: 2,
            name: 'Tên sinh viên 2',

        }, {
            ID: 3,
            name: 'Tên sinh viên 3',
        },
        {
            ID: 4,
            name: 'Tên sinh viên 4',
        },
        {
            ID: 5,
            name: 'Tên sinh viên 5',
        }, {
            ID: 6,
            name: 'Tên sinh viên 6',
        },
        {
            ID: 7,
            name: 'Tên sinh viên 7',
        }
        ]
        const output = document.getElementById('output');
        output.innerHTML = listStudent.map(student => {
            return `<li class="list-group-item"><a href="#">${student.name}</a></li>`;
        }).join('');
        function handleClickNext() {
            if (id < listStudent.length - 1) {
                id++
                document.getElementById("studentName").innerHTML = `${listStudent[id].name}`
            }
        }
        function handleClickPrev() {
            if (id > 0) {
                id--
                document.getElementById("studentName").innerHTML = `${listStudent[id].name}`
            }
        }
    </script>
    <script src="script.js"></script>
    </main>
</body>

