@using DanhgiaCDR.Models;
@model IList<Menu>

@{

    ViewData["Title"] = "Danh sách menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body" style="padding: 50px ;">
                    <div class="row m-b-30" style="align-items: center; margin-bottom: 30px !important;">
                        <div class="col-md-8">
                            <div class="row" style="display: flex; align-items: center;">


                                <div class="col-md-6 mb-3 header" style="box-shadow: none !important; display: flex; justify-content: center; align-items: center; z-index: 0 !important;">


                                    <div class="search-bar" style="padding: 0 8px !important;">
                                        <form class="search-form d-flex align-items-center" method="POST" action="#">
                                            <input type="text" id="keyword" name="keyword" placeholder="Tìm kiếm" title="Enter search keyword">
                                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">


                                    <select class="form-select" aria-label="Default select example">
                                        <option disabled selected>Chọn menu</option>
                                        <option value="All">Chọn tất cả</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4" style="text-align: right !important;">


                            <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" id="btnAdd" data-bs-target="#largeModal"><i class="bi bi-plus"></i> Thêm mới</button>

                            @*THÊM MỚI MENU *@
                            <div class="modal fade" id="largeModal" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background: #0d6efd;">
                                            <h5 class="modal-title"><strong style="color: #ffff;" id="modal-title"></strong></h5>
                                            <button type="button" style="color: #ffff;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: left;">
                                            <div class="col-lg-12">


                                                <!-- Vertical Form -->
                                                <form class="row g-3">
                                                    <input hidden id="idMenu" type="text" value="" />
                                                    <div class="col-6">
                                                        <label for="menuName" class="form-label"><strong>Tên menu</strong></label>
                                                        <input type="text" class="form-control" id="menuName">
                                                    </div>

                                                    <div class="col-6">
                                                        <label for="levels" class="form-label"><strong>Cấp</strong></label>
                                                        <input type="number" class="form-control" id="levels">

                                                    </div>
                                                    <div class="col-6">
                                                        <label for="selectMenu" class="form-label"><strong>Menu cha</strong></label>
                                                        <select class="form-select" id="selectMenu" aria-label="Default select example"></select>
                                                    </div>
                                                   
                                                    <div class="col-6">
                                                        <label for="menuOrder" class="form-label"><strong>Thứ tự</strong></label>
                                                        <input type="number" class="form-control" id="menuOrder">

                                                    </div>
                                                    

                                                    <div class="col-12">
                                                        <label for="isActive" class="form-label"><strong>Trạng thái</strong></label>
                                                        <div class="col-sm-10">
                                                            <div class="form-check form-switch" style="padding-bottom: 8px !important;">
                                                                <input class="form-check-input" type="checkbox" id="isActive">
                                                                <label for="isActive" class="form-check-label">Công khai</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form><!-- Vertical Form -->




                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-primary" id="btnAddMenu">Lưu lại</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Large Modal-->

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover e-commerce-table" style="margin-bottom: 50px !important;">
                            <thead>
                                <tr>
                                    <th style="padding: 1rem !important;">ID</th>
                                    <th style="padding: 1rem !important;">Tiêu đề</th>
                                    <th style="padding: 1rem !important;">Mức</th>
                                    <th style="padding: 1rem !important;">Menu Cha</th>

                                    <th style="padding: 1rem !important;">Thứ tự</th>
                                    <th style="padding: 1rem !important;">Trạng thái</th>
                                    <th style="padding: 1rem !important;">Chức năng</th>



                                </tr>
                            </thead>

                            @*// Danh sách menu*@
                            <tbody id="dsMenu" style="vertical-align:-webkit-baseline-middle !important;">

                                @*Hàm LoadDsMenu() sẽ hiển thị ở đây*@

                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" id="phanTrang">
                            </ul>
                        </nav>
                        @*<nav aria-label="Page navigation example">

                        @* @if(Model.PageCount > 1) {
                        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="Adminmenus" asp-action="Index" asp-route-MenuID="ViewBag.CurrentMenuID" options="PagedListRenderOptions.Bootstrap4PageNumbersOnly" />

                        }

                        </nav>*@
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>

@section Scripts {


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            LoadDsMenu();
            LoadDsMenuParent();
        });
  

     

        

        // Load danh sách Menu
        function LoadDsMenu() {

            $.ajax({
                url: '/Admin/AdminMenu/DsMenu',
                type: 'GET',
                
                success: function (data) {
                    console.log(data);

                    if (data.code == 200) {

                        $('#dsMenu').empty();

                        $.each(data.dsMenu, function (key, value) {
                            let tr = '<tr id="' + value.MenuID + '">'
                            tr += '<td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">' + value.menuID + '</td>';
                            tr += '<td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">' + value.menuName + '</td>';
                            tr += '<td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">' + value.levels + '</td>';
                            tr += '<td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">' + value.parentID + '</td>';
                            tr += '<td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">' + value.menuOrder + '</td>';
                            tr += '<td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">' + value.isActive + '</td>';

                            tr += '<td style="min-width: 150px !important;">';
                            tr += '<a class="btn btn-primary btn-sm" name="xem" data-bs-toggle="modal" data-bs-target="#largeModal" title ="xem"><i class="ri-eye-line" > </i></a >';
                            tr += '<a class="btn btn-success btn-sm" name="edit" data-bs-toggle="modal" data-bs-target="#largeModal" title ="sửa" style="margin: 0 5px !important;"><i class="ri-edit-2-line"></i></a >';
                            tr += '<a class="btn btn-danger btn-sm" name="delete" title = "xóa"><i class="bi bi-trash"></i></a >';

                            tr += '</td>';

                            tr += '</tr>';

                            $('#dsMenu').append(tr);
                        });

                        

                        
                    }
                }
            });
        }

        //// XÓA MENU
        $(document).on('click', "a[name='delete']", function () {
            let menuId = $(this).closest('tr').attr('id');

            if (confirm("Bạn có thực sự muốn xóa trường này không?")) {
                // dùng ajax để xóa lớp được chọn
                $.ajax({
                    url: '/Admin/AdminMenu/Delete',
                    type: 'POST',
                    data: {
                        id: menuId,

                    },
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.msg);
                            LoadDsMenu();
                        } else {
                            alert(data.msg);
                        }
                    }
                })
            }
        });

        //// XEM CHI TIẾT MENU
        $(document).on('click', "a[name='xem']", function () {
            // gán title cho modal
            $('#modal-title').text('Thông tin chi tiết');
            let menuId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/Admin/AdminMenu/Details',
                type: 'GET',
                data: {
                    id: menuId
                },
                success: function (data) {

                    console.log(data);
                    if (data.code == 200) {
                        // Nếu lấy thông tin thành công

                        $('#selectMenu').val(data.menus.parentID); // Lấy id của menu đc chọn là menu cha
                        
                        $('#menuName').val(data.menus.menuName);
                        $('#levels').val(data.menus.levels);
                        $('#menuOrder').val(data.menus.menuOrder);
                       
                        if ((data.menus.isActive) == true) {
                            $('#isActive').prop('checked', true);
                        } else {
                            $('#isActive').prop('checked', false);

                        }





                        // Không cho chỉnh sửa dữ liệu
                        $('#selectMenu').prop('disabled', true); // Lấy id của menu đc chọn là menu cha
                        
                        $('#menuName').prop('disabled', true);
                        $('#levels').prop('disabled', true);
                        $('#menuOrder').prop('disabled', true);
                       
                        $('#isActive').prop('readonly', true);

                        // Gán giá trị cho text hidden có giá trị là idMenu = menuId
                        $('#idMenu').val(menuId);

                        // Ẩn nút lưu lại
                        $('#btnAddMenu').hide();

                    } else {
                        alert(data.msg);
                    }
                }
            })
        });


        //// Chỉnh sửa MENU
        $(document).on('click', "a[name='edit']", function () {
            // gán title cho modal
            $('#modal-title').text('Chỉnh sửa menu');
            let menuId = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/Admin/AdminMenu/Details',
                type: 'GET',
                data: {
                    id: menuId
                },
                success: function (data) {
                    if (data.code == 200) {
                        // Nếu lấy thông tin thành công

                        $('#selectMenu').val(data.menus.parentID); // Lấy id của menu đc chọn là menu cha
                        
                        $('#menuName').val(data.menus.menuName);
                        $('#levels').val(data.menus.levels);
                        $('#menuOrder').val(data.menus.menuOrder);
                       
                        if ((data.menus.isActive) == true) {
                            $('#isActive').prop('checked', true);
                        } else {
                            $('#isActive').prop('checked', false);

                        }

                        // Gán giá trị cho text hidden có giá trị là idMenu = menuId
                        $('#idMenu').val(menuId);


                        // Không cho chỉnh sửa dữ liệu
                        $('#selectMenu').prop('disabled', false); 
                        
                        $('#menuName').prop('disabled', false);
                        $('#levels').prop('disabled', false);
                        $('#menuOrder').prop('disabled', false);
                        
                        $('#isActive').prop('readonly', false);

                        // Ẩn nút lưu lại
                        $('#btnAddMenu').show();

                    } else {
                        alert(data.msg);
                    }
                }
            })
        });

        $('#btnAdd').click(function () {
            // gán title cho modal
            $('#modal-title').text('Thêm mới');


            // Làm trắng các input
            //$('#selectMenu').val('');
            //$('#selectCategory').val('');
            $('#menuName').val('');
            $('#levels').val('');
            $('#menuOrder').val('');
            //$('#position').val('');
            $('#isActive').prop('checked', false); // Kiểm tra ô đánh dấu có được chọn hay không

            $('#idMenu').val('');


            //
            // Cho chỉnh sửa dữ liệu
            $('#selectMenu').prop('disabled', false); // Lấy id của menu đc chọn là menu cha
            //$('#selectCategory').prop('disabled', false);
            $('#menuName').prop('disabled', false);
            $('#levels').prop('disabled', false);
            $('#menuOrder').prop('disabled', false);
            //$('#position').prop('disabled', false);
            $('#isActive').prop('readonly', false);

            $('#btnAddMenu').show();

        })

        // THÊM MỚI MENU
        // Sự kiện click của button xác nhận thêm mới menu
        $('#btnAddMenu').click(function () {
            // Lấy dữ diệu người dùng nhập vào
            let parentId = $('#selectMenu').val().trim(); // Lấy id của menu đc chọn là menu cha
            //let categoryId = $('#selectCategory').val().trim();
            let menuName = $('#menuName').val().trim();
            let levels = $('#levels').val().trim();
            let menuOrder = $('#menuOrder').val().trim();
            //let position = $('#position').val().trim();
            let isActive = $('#isActive').prop('checked'); // Kiểm tra ô đánh dấu có được chọn hay không




            // Các ràng buộc dữ liệu

            // Kiểm tra rỗng
            if (menuName.length == 0) {
                alert('Vui lòng nhập tên menu');
                return;
            } else if (levels.length == 0) {
                alert('Vui lòng nhập cấp menu');
                return;
            } else if (menuOrder.length == 0) {
                alert('Vui lòng thứ tự sắp xếp menu');
                return;
            }
           


            // Kiểm tra giá trị nhập vào có phải là NAN or là số âm hay không?
            if (levels < 0) {
                alert('Dữ liệu cấp nhập vào không được âm!');
                return;
            } else if (menuOrder < 0) {
                alert('Thứ tự sắp xếp không nhận giá trị âm!');
                return;
            }

            

            // Kiểm tra không phải là số
            if (isNaN(levels)) {
                alert('Dữ liệu cấp nhập vào phải là số!');
                return;
            } else if (isNaN(menuOrder)) {
                alert('Thứ tự sắp xếp nhập vào phải là số!');
                return;
            }

           
            let idMenu = $('#idMenu').val().trim();

            if (idMenu.length == 0) {
                // Dùng ajax để thêm mới
                $.ajax({
                    url: '/Admin/AdminMenu/Create',
                    type: 'post',
                    data: {
                        menuName: menuName,
                        parentId: parentId,
                        
                        levels: levels,
                        menuOrder: menuOrder,
                        
                        isActive: isActive
                    },
                    success: function (data) {

                        if (data.code == 200) {
                            alert(data.msg);
                            LoadDsMenu();
                            let menuName = $('#menuName').val('');
                            let levels = $('#levels').val('');
                            let menuOrder = $('#menuOrder').val('');
                            
                            let isActive = $('#isActive').prop('checked', false); // Kiểm tra ô đánh dấu có được chọn hay không

                        } else {
                            alert(data.msg);
                        }
                        //console.log(menuName, isActive);
                    }

                });
            }
            else {
                // Cập nhật menu đã tồn tại
                $.ajax({
                    url: '/Admin/AdminMenu/Edit',
                    type: 'post',
                    data: {
                        id: idMenu,
                        menuName: menuName,
                        parentId: parentId,
                        //categoryId: categoryId,
                        levels: levels,
                        menuOrder: menuOrder,
                        
                        isActive: isActive
                    },
                    success: function (data) {

                        if (data.code == 200) {
                            // Cập nhật thành công
                            alert(data.msg);

                            // đóng modal

                            $('#largeModal').modal('hide');

                            // Load lại danh sách lớp
                            LoadDsMenu();

                        } else {
                            alert(data.msg);
                        }
                        //console.log(menuName, isActive);
                    }

                });
            }

        });
        
        // Lấy danh sách menu cha dùng cho thẻ select có id là selectMenu

        function LoadDsMenuParent() {
            $.ajax({
                url: '/Admin/AdminMenu/AllMenu',
                type: 'GET',
                success: function (data) {
                    $('#selectMenu').empty(); // Tránh trường hợp bị nạp chồng

                    if (data.code == 200) {
                        // Thêm tùy chọn mặc định với giá trị là 0 và đặt thuộc tính "selected"
                        let optDefault = '<option value="0" selected>Chọn menu cha</option>';
                        $('#selectMenu').append(optDefault);

                        // Thêm các tùy chọn menu cha
                        $.each(data.allMenu, function (k, v) {
                            let opt = '<option value="' + v.menuId + '">' + v.menuName + '</option>';
                            $('#selectMenu').append(opt);
                        });
                    } else {
                        alert(data.msg);
                    }
                }
            });
        }






    </script>
}
