@model DanhgiaCDR.Models.tblCTDT

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>tblCTDT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CTDT_ID" />
            <div class="form-group">
                <label asp-for="CTDT_Ten" class="control-label"></label>
                <input asp-for="CTDT_Ten" class="form-control" />
                <span asp-validation-for="CTDT_Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGANH_ID" class="control-label"></label>
                <input asp-for="NGANH_ID" class="form-control" />
                <span asp-validation-for="NGANH_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTDT_So" class="control-label"></label>
                <input asp-for="CTDT_So" class="form-control" />
                <span asp-validation-for="CTDT_So" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DV_ID" class="control-label"></label>
                <input asp-for="DV_ID" class="form-control" />
                <span asp-validation-for="DV_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTDT_SoTinChi" class="control-label"></label>
                <input asp-for="CTDT_SoTinChi" class="form-control" />
                <span asp-validation-for="CTDT_SoTinChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTDT_NamBatDau" class="control-label"></label>
                <input asp-for="CTDT_NamBatDau" class="form-control" />
                <span asp-validation-for="CTDT_NamBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTDT_ThoiGianToiDa" class="control-label"></label>
                <input asp-for="CTDT_ThoiGianToiDa" class="form-control" />
                <span asp-validation-for="CTDT_ThoiGianToiDa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTDT_ThoiGianToiThieu" class="control-label"></label>
                <input asp-for="CTDT_ThoiGianToiThieu" class="form-control" />
                <span asp-validation-for="CTDT_ThoiGianToiThieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTDT_GhiChu" class="control-label"></label>
                <input asp-for="CTDT_GhiChu" class="form-control" />
                <span asp-validation-for="CTDT_GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CTDT_File" class="control-label"></label>
                <input asp-for="CTDT_File" class="form-control" />
                <span asp-validation-for="CTDT_File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

